
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:#55729c;
}

#cabecalho{
    width:100%;
    background:#7d93bb;
    color:#111;
    text-align:center;
    padding:20px;
    letter-spacing:2px;
    font-size:24px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

#form-sec{
    display:flex;
    justify-content:center;
    padding:40px 20px;
}

#form{
    width:550px;
    background:#6a82ac;
    border:2px solid #000;
    border-radius:10px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
    color:#111;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #3f3f3f;
    border-radius:6px;
    font-size:14px;
    margin-bottom:5px;
}
button{
    background-color: rgb(57, 94, 136);
    color: aliceblue;
    margin: 0px 60px;
    padding: 15px;
    border-radius:6px ;
}
button a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button a:hover{
    color: rgb(156, 156, 156);
    text-transform: none;
}

.oculto{
    display: none;
}